<div id="the-whole-damn-page">
  <div id="current-movie">
    <div class="draft-movie" id="current-movie-bid">
      <div class="draft-release-date">
        <h3>Release Date:</h3>
        <h3 id ='current-release-date'></h3>
      </div>
      <h3 id='current-title'></h3>
      <h2 id='current-bid'></h2>
      <h2 id='current-bidder'></h2>
      <p id="next-user"></p>
    </div>
    <div class="second-container">
      <div id='monies-left' class='draft-movie'>
        <p>Monies Left:</p>
        <p id='current-user-dollars'></p>
        <p id='current-user-movies-owned'>Movies Owned: 0</p>
      </div>
      <div class="buttons">
        <button type="button" name="button" class='bid-button' id='1'>+1</button>
        <button type="button" name="button" class='bid-button' id='5'>+5</button>
        <button type="button" name="button" id="end-bid-button">End Bidding</button>
      </div>
    </div>
  </div>

  <div id='all-user-total'>
  </div>

  <div id="all-movies">
  </div>
</div>

<h1 id='waiting-message'>Draft starting soon</h1>
<button type="button" name="button" id='start-button'>Start Draft</button>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script> -->
<script>
  var config = {
    apiKey: "AIzaSyCRU98WSXwbbR67R8s7axG2JOw1uBHRWqY",
    authDomain: "box-office-fantasy.firebaseapp.com",
    databaseURL: "https://box-office-fantasy.firebaseio.com/",
    storageBucket: "gs://box-office-fantasy.appspot.com"
  }
  firebase.initializeApp(config)
  var db = firebase.database()
  var ref = db.ref()
</script>
<script type="text/javascript" src="/javascripts/draft.js">

</script>
