<h1>Box Office</h1>
<h2>{{message}}</h2>

<h3>Log In</h3>
<form id="form" action="/users/signin" method="POST">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <input type="submit" name="" value="Submit">
</form>

<h3>Sign Up</h3>
<form class="" action="/users/signup" method="POST">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <input type="submit" name="" value="Submit">
</form>
