<div class="owners">
  {{#each owners}}
    <div class="owner">
      <h3 class="owner-name">{{this.[0].owner}}</h3>
      <div class="movies">
        {{#each this}}
          <div class="movie">
            <p class = "title">{{title}}</h3>
            <p>{{total}}</h5>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
