body {
  background-color: hsl(210,60%,70%);
  font-family: 'Questrial', sans-serif;
}
header {
  background-color: grey;
}

#current-movie {
  background-color: white;
  margin: 2vh 4vw;
  width: 90vw;
  height: 35vh;
  display: flex;
  justify-content: space-between;
}

#all-user-total{
  background-color: white;
  margin: 2vh 4vw;
  width: 90vw;
  /*height: 35vh;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#current-movie-bid {
  height: 30vh;
  margin: 2.5vh;
  min-width: 45vw;
}

#monies-left {
  height: 30vh;
  margin: 2.5vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
}

#current-user-dollars {
  font-size: 4vh;
  font-weight: bold;
}

.owners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5vw;
  width: 90vw;
}

.owner {
  /* padding-bottom: 2vh; */
  background-color: white;
  box-shadow: 2px 5px 10px black;
  margin: 2vw;
  width: 18vw;
}

.owner-info{
  padding-top: 0.5vh;
  background-color: hsl(35,90%,75%);
}

.owner-name {
  margin-left: 1vw;
}

.owner-total{
  margin-left: 3vw;
  border-bottom: 2px black solid;
}

.current-user{
  margin: 2vh 5vw;
  width: 90vw;
  height: 25vw;
  display: flex;
  justify-content: space-between;
}

.standings{
  margin-top: -2.5vh;
}

.current-user-info, .leaderboard {
  background-color: white;
  box-shadow: 2px 5px 10px black;
  width: 15vw;
  height: 7vw;
  margin-right: 2vw;
  padding-left:1vw;
}

.leaderboard{
  margin-top: 1vw;
  height: 17vw;
  width: 16vw;
  padding-left: 0;
}

#leaderboard-header{
  margin-left: 1vw;
}

.owned-movies{
  display: flex;
  width: 73vw;
  background-color: white;
  box-shadow: 2px 5px 10px black;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1vw;
  justify-content: space-around;
}

.owned-movie {
  display: flex;
  max-width: 20vw;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom:2vh;
  box-shadow: 2px 5px 5px gray;
  padding-left: 1vw;
  padding-right: 1vw;
}

.individual-leader{
  display: flex;
  justify-content: space-between;
}

.owned-movie-money {
  display: flex;
  margin-top: -3vh;
  margin-bottom: -1vh;
  /* justify-content: space-between; */
}

.per-dollar {
  margin-left: 4vw;
}

.movies {
  height: 35vh;
  overflow-y: scroll;
  /* background-color: lightgray; */
}

.movie {
  margin-left: 1vw;
  margin-right: 2vw;
  display: flex;
  justify-content: space-between;
}

.movie-title{
  width: 15vw;
  overflow: wrap;
}

.title {
  font-weight: bold;
  width: 5vw;
}

#all-movies {
  width: 90vw;
  margin: 2vh 4vw;
  display: none;
  justify-content: space-around;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

ol{
  margin-left: -1vw;
}

button {
  height: 50%;
  background-color: white;
  margin: 2vh 5vw;
  width: 10vw;
}

.draft-movie, .user-total, button {
  margin: 1vh 1vw;
  background-color: white;
  box-shadow: 2px 5px 10px black;
}

.draft-release-date {
  display: flex;
}

#start-button, #select-league, #prep-button {
  display: none;
}

#end-bid-button {
  display: none
}

.second-container {
  display: flex;
  justify-content: space-around;
}
.draft-release-date, #current-title, #current-bidder, #current-bid, #next-user {
  margin-left: 3vw;
}
.user-movie-list{
display: none;
}
.user-total:hover .user-movie-list{
display : block;
}

@media(max-width:800px) {
  #all-user-total{
    width: 95vw;
    margin: 1vh;
  }
  #current-movie {
    flex-direction: column;
    height: 70vh;
    width: 95vw;
    margin: 1vh;
    margin-left: 0.15vw;
  }
  #current-movie-bid {
    height: 40vh;
    margin: 2vh;
  }
  .buttons {
    width: 25vw;
    height: 20vh;
    margin-left: -10vw;
  }
  #monies-left{
    height: 15vh;
    width: 45vw;
    margin: none;
    box-shadow: none;
  }
  button {
    width: 25vw;
  }
  #all-user-total{
    margin-left: 0.15vw;
  }
  #all-movies {
    width: 95vw;
    margin: 1vh;
    margin-left: 0.15vw;
  }
  .second-container{
    margin-bottom: 2vh;
  }
  .current-user{
    width: 95vw;
    height: auto;
    margin: 2vh 0;
    flex-direction: column;
  }

  .current-user-info, .leaderboard, .owned-movies {
    width: 95vw;
    height: auto;
    align-items: center;
  }

  .leaderboard {
    padding: 1vh 0;
    padding-left: 1vw;
    margin-top: 2vh;
  }

  .current-user-info {
    margin-top: 2vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .owned-movies{
    width: 95vw;
    margin-top: 2vh;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-around;
    padding-left: 1vw;
  }

  .owned-movie{
    max-width: none;
    width: 75vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -2vh;
    box-shadow: 1px 1px 1px lightgray;
    padding:0 1vw;
  }

  .owned-movie:nth-child(1){
    margin-top: 0;
  }

  .owners {
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    margin-left: 0vw;
    width: 96vw;
  }

  .owner {
    width: 96vw;
  }

  .movies{
    display: none;
  }

  .owner-info:hover+div {
    display:inline;
  }

  .free-agents:hover+div {
    display:inline;
  }
}
